.widget-container {
  margin-top: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 !important;
  background: #FFF;
}

.widget-hider {
  font-size: 11px;
  color: rgba(2, 2, 2, 0.6);
  font-family: Roboto, Arial, sans-serif;
  width: 100%;
  height: 29px;
  padding: 8px 24px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.widget-hider:hover {
  color: black;
}

.hr {
  width: calc(100% - 48px);
  margin: 0 auto;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.app-msg-show {
  width: 100%;
  height: 400px !important;
  overflow: auto;
  background-color: #F9F9F9;
}
.app-msg-input {
  width: 100%;
  height: 111px;
  padding: 16px 24px;
}
.app-top-bar {
  height: 48px;
  padding: 8px;
  display: flex;
  color: #111111;
  align-items: center;
  justify-content: space-between;
}
.app-top-bar-icon {
  color: #909090;
  cursor: pointer;
  margin-right: 8px;
}
.app-msg-show-item {
  height: 32px;
  padding: 4px 24px;
  font-size: 13px;
  align-items: center;
}
.app-msg-show-item-avatar {
  margin-right: 16px;
}
.app-msg-show-item-text {
  display: flex;
  height: 32px;
  align-items: center;
  color: rgba(17, 17, 17, 0.6);
}
.app-msg-show-item-username {
  margin-right: 8px;
}
.app-msg-input-box {
  height: 43px;
}
.app-msg-input-icon {
  height: 43px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #909090;
}
.app-msg-show-item-text p {
  font: 13px;
}
.app-msg-picker {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.app-picker {
  z-index: 9999;
}
.app-msg-input-send {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.app-msg-input-send-p {
  margin-right: 24px;
  cursor: inherit;
}
.app-title {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 16px;
  font-size: 18px;
  font-weight: 400;
}
.app-title i {
  color: #606060;
}
.app-msg-show-item-time {
  font-size: 11px;
  padding-right: 8px;
  color: rgba(17, 17, 17, 0.4);
}
.app-msg-show-item-p {
  color: #111111;
  padding: 0px;
}
.app-msg-anchor {
  z-index: 9999;
  position: absolute;
  left: calc(50% - 16px);
  bottom: 10px;
  background-color: #2196F3;
  color: #fff;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}
.arrow-down-icon {
  margin-left: 4px;
  margin-top: 4px;
}
.app-msg-show-wrapper {
  position: relative;
}